/* Universal */

html {
  font-family: Helvetica;
  font-size: 16px;
}

/* Header */

header {
  position: fixed;
  height: 64px;
  width: 100%;
}

header .content {
  display: flex;
  align-items: center;
  padding: 16px 24px 16px 24px;
  background-color: white;
}

header .logo {
flex: 1;
height: 32px;
}

nav ul li{
  display: inline-flex;
  justify-content: space-around;
  padding-right: 16px;
}

/* Banner */

.banner {
  display: flex;
  padding: 32px 24px;
  background-color: #D3D3D3;
}

.banner img {
  height: 60%;
  width: 60%;

}

.banner-content {
  padding-left: 24px;
margin-top: 100px;
}

.banner-content h1{
  font-size: 32px;
  font-weight: bold;
}

.banner-content p{
  margin-top: 24px;
}

.banner-content .button {
 color: white;
 background-color: #A9A9A9;
 padding: 8px 64px;
}

/* News */

.main {
  height: 400px;
  display: flex;
  padding-bottom: 32px;
}

.main-feature {
display: flex;
flex-direction: column;
max-width: 60%;
overflow: hidden;
padding: 32px 24px;
}

.main-feature img {
  display: block;
  max-width: 60%;
  height: auto;
}

.main-feature h2{
  padding-top: 32px;
  padding-bottom: 24px;
}

#source {
  font-size: 12px;
}

.main-stories {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.main-story {
  display: flex;
  border: 1px solid #D3D3D3;
  overflow: hidden;
}

.main-story img {
  max-width: 35%;
  max-height: auto;
  display: block;
  padding: 16px;
}

.main-story .content {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.main-story p, h3 {
  padding: 8px;
}

#highlight {
    background-color: #D3D3D3;
}

/*Courses*/
.learning {
  margin: 0 auto;
  background-color: #D3D3D3;
}

.learning h2 {
  text-align: center;
  padding-top: 32px;
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  padding: 32px 72px;
}

.course {
  display: flex;
  flex-direction: column;
  max-width: 27%;
  overflow: hidden;
  margin: 32px;
  background-color: white;
}

.course img {
  display: block;
  width: 100%;
  height: auto;
}

.course .content {
  padding: 16px;
}

.course p, h3 {
  padding: 8px;
}
